.login {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 42%,
    rgba(226, 255, 173, 1) 100%
  );
}

.login .rectangle {
  top: 309px;
  left: 395px;
  width: 650px;
  height: 600px;
  background-color: #fbfff5;
  border-radius: 25px;
  position: absolute;
  border: 1px solid;
  border-color: #000000;
}

.login .login-input {
  position: absolute;
  top: 30px;
  left: 0;

  width: 490px;
  height: 71px;

  background-color: #ffffff;

  border: 1px solid #000000;
  border-radius: 10px;

  padding: 0 25px;

  font-family: "Freesentation-3Light", Helvetica;
  font-weight: 300;
  font-size: 25px;

  color: #000000;

  outline: none;
}

.login .login-input::placeholder {
  color: #00000080;
}

.login .group {
  top: 379px;
  position: absolute;
  left: 475px;
  width: 494px;
  height: 101px;
}

.login .text-wrapper {
  position: absolute;
  top: 0;
  left: 8px;
  width: 158px;

  font-family: "Cafe24PROUP", sans-serif;
  font-weight: 400;

  color: #a5ff00;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;

  -webkit-text-stroke: 0.5px #000000;
}

.login .group-2 {
  top: 525px;
  position: absolute;
  left: 475px;
  width: 494px;
  height: 101px;
}

.login .sign-in-button {
  position: absolute;

  top: 701px;
  left: 530px;

  width: 380px;
  height: 71px;

  background-color: #a5ff00;

  border: 1px solid #000000;
  border-radius: 10px;

  font-family: "Cafe24PROUP", sans-serif;
  font-weight: 400;

  color: #ffffff;
  font-size: 20px;

  -webkit-text-stroke: 0.5px #000000;

  cursor: pointer;
}

.login .LOG-IN {
  position: absolute;
  top: 100px;
  left: calc(50.00% - 203px);
  width: 406px;
  height: 143px;
  aspect-ratio: 2.84;
  object-fit: cover;
}

.login .don-t-have-an {
  position: absolute;
  top: 797px;
  left: 444px;
  width: 552px;

  font-family: "Freesentation-3Light", Helvetica;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.login .don-t-have-an .span {
  color: #000000;
}

.login .don-t-have-an .text-wrapper-5 {
  color: #a5ff00;
  cursor: pointer;
}

.login .don-t-have-an .text-wrapper-5:hover {
  text-decoration: underline;
}